<div class="container">
  <!-- one -->
  <div class="one">
    <div class="luxury__data">
      <div class="data-icon">
        <img src="../../../assets/images/icons/sleep.png" alt="sleep" />
      </div>
      <h2>
        Luxury Plaza <br />
        Hotel for You
      </h2>
      <p>
        Distant orb has power to raise and purify our <br />
        thoughts like a strain of sacred music.
      </p>
      <button>ABOUT US</button>
    </div>
  </div>

  <!-- two -->
  <div class="two">
    <div class="card">
      <div class="card-1">
        <div class="card-1__img"></div>
        <div class="play">
          <img src="../../../assets/images/other_images/play.jpg" alt="play" />
          <div class="play__data">
            <span class="data-fun">Play video</span>
            <span class="data-time">2:34</span>
          </div>
        </div>
        <img
          src="../../../assets/images/other_images/percentage.png"
          alt="percentage"
          class="percentage"
        />
        <img
          src="../../../assets/images/other_images/combined_shape.png"
          alt="shape"
          class="shape"
        />
      </div>
      <div class="card-2"></div>
      <div class="card-3"></div>
    </div>
  </div>
</div>
