<div class="wellness">
  <div class="wellness__image">
    <div class="card">
      <div class="card-1">
        <div class="card-1__img"></div>
        <div class="play">
          <img src="../../../assets/images/other_images/star.png" alt="star" />
          <div class="play__data">
            <span class="data-fun">+$189</span>
            <span class="data-time">Additional Price</span>
          </div>
        </div>
        <img
          src="../../../assets/images/other_images/combined_shape.png"
          alt="shape"
          class="shape"
        />
      </div>
      <div class="card-2"></div>
      <div class="card-3"></div>
    </div>
  </div>

  <div class="wellness__data">
    <div class="data-icon">
      <img src="../../../assets/images/icons/face.png" alt="face" />
    </div>
    <h2>Wellness & Spa</h2>
    <p>
      Raise and purify our thoughts like a strain of sacred music, or a <br />
      noble picture, or a passage from the grander poets.
    </p>
    <button>EXPLORE</button>
  </div>
</div>
