.footer {
  display: flex;
  padding: 30px 135px;
  justify-content: space-between;
  align-items: center;
  background: rgba(34.32, 56.17, 81.38, 1);
}

.footer span {
  color: #fff;
  font-weight: 100;
}

@media (max-width: 1000px) {
  .footer {
    padding: 30px 30px;
  }
}

@media (max-width: 700px) {
  .footer {
    padding: 30px 14px;
    flex-direction: column;
  }
  .footer img {
    margin-bottom: 20px;
  }
  .footer span {
    text-align: center;
  }
}
