.navbar {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar__logo a {
  font-size: 40px;
  color: #fff;
}

.navbar .navbar__menu ul {
  display: flex;
}

.navbar .navbar__menu ul li {
  padding: 0px 14px;
  list-style: none;
  font-weight: 100;
}

.navbar .navbar__menu ul li a {
  color: #fff;
  font-size: 18px;
}

.navbar .navbar__btn button {
  width: 170px;
  height: 48px;
  border-radius: 24px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}
