.hero {
  margin: 0 auto;
  background-image: url("../../../assets/images/background_image/bitmap_ek1.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 135px;
  position: relative;
}

.hero_navbar {
  margin-top: 80px;
  width: 100%;
}

.hero h1,
.hero h4 {
  color: #fff;
  font-weight: 100;
}

.hero h1 {
  font-size: 72px;
  line-height: 80px;
  margin-top: 150px;
}

.hero h4 {
  margin-bottom: 65px;
}

.hero__subtitle {
  font-size: 20px;
  margin-bottom: 45px;
}

.media {
  margin-bottom: 64px;
  max-width: 160px;
  min-width: 120px;
}

.media .media-img {
  width: 100%;
  height: auto;
}

.booking {
  max-width: 1170px;
  min-width: 600px;
  margin: 0 auto;
  margin-bottom: 80px;
  position: relative;
}

.booking .img-search {
  width: 100%;
  z-index: 4;
}

.booking .img-shape {
  position: absolute;
  right: 6%;
  top: -25%;
  width: 15%;
  z-index: 5;
}

.booking .img-arrow {
  position: absolute;
  left: 48.3%;
  bottom: 10px;
  border-radius: 50px;
  padding: 9px 15px;
  background-color: #fff;
}

.desktop_mode {
  display: block;
}
.mobile_mode {
  display: none;
}

/* @media (max-width: 375px) {
  .hero {
    width: 100%;
    height: 100%;
    padding: 0 14px;
  }
  .hero_navbar {
    width: 100%;
  }
  .hero h1 {
    font-size: 56px;
    line-height: 64px;
    margin-top: 150px;
    margin-bottom: 27px;
  }
  .hero h4 {
    margin-bottom: 39px;
  }
  .media {
    margin-bottom: 48px;
  }
  .desktop_mode {
    display: none;
  }
  .mobile_mode {
    display: block;
  }
} */
