.hero {
  width: 1440px;
  height: 879px;
  margin: 0 auto;
  background-image: url("../../../assets/images/background_image/bitmap_ek1.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 135px;
  position: relative;
}

.hero_navbar {
  position: absolute;
  top: 20px;
  width: 80%;
}

.hero h1,
.hero h4 {
  color: #fff;
  font-weight: 100;
}

.hero h1 {
  font-size: 72px;
  line-height: 80px;
  margin-top: 150px;
}

.hero h4 {
  margin-bottom: 65px;
}

.hero__subtitle {
  font-size: 20px;
  margin-bottom: 45px;
}

.media {
  margin-bottom: 64px;
}

.booking {
  margin: 0px auto;
  position: relative;
  z-index: 1;
}

.booking .img-search {
  position: absolute;
}

.booking .img-arrow {
  position: absolute;
  left: 48.3%;
  bottom: 0px;
  border-radius: 50px;
  padding: 9px 15px;
  background-color: #fff;
}

.booking .img-shape {
  position: absolute;
  right: 65px;
  top: -45px;
  z-index: -1;
}

/* @media screen and (min-width: 375px) {
  .hero {
    padding: 0 15px;
    justify-content: unset;
    background-image: url("../../../assets/images/background_image/bitmap_ek1.png");
  }
  .booking {
    display: none;
  }
  h1 {
    margin-bottom: 27px;
  }
  h4 {
    margin-bottom: 39px;
  }
} */
