<div class="hero">
  <div class="hero_navbar">
    <app-navbar></app-navbar>
  </div>
  <h1 class="hero__title">
    Exclusive <br />
    Boutique <br />
    Hotel
  </h1>
  <h4 class="hero__subtitle">Luxury Boutique Hotel</h4>

  <div class="media">
    <img
      src="../../../assets/images/other_images/social.png"
      alt="social_media"
    />
  </div>

  <div class="booking">
    <img
      src="../../../assets/images/other_images/search.svg"
      alt="search"
      class="img-serach"
    />
    <span class="img-arrow">
      <img src="../../../assets/images/icons/arrow_down.png" alt="arrow" />
    </span>
    <img
      src="../../../assets/images/other_images/combined_shape.png"
      alt="shape"
      class="img-shape"
    />
  </div>
</div>
