<div class="card">
  <div class="card-1">
    <div class="card-1__img">
      <img src="../../../assets/images/card_images/bitmap_ek3.png" alt="" />
    </div>
    <div class="play">
      <img src="../../../assets/images/other_images/play.jpg" alt="play" />
      <div class="play__data">
        <span class="data-fun">Play video</span>
        <span class="data-time">2:34</span>
      </div>
    </div>
    <img
      src="../../../assets/images/other_images/percentage.png"
      alt="percentage"
      class="percentage"
    />
    <img
      src="../../../assets/images/other_images/combined_shape.png"
      alt="shape"
      class="shape"
    />
  </div>
  <div class="card-2"></div>
  <div class="card-3"></div>
</div>
