/* card */
.card {
  max-width: 50%;
  min-width: 30%;
  height: fit-content;
}

.card-1 img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: auto;
  width: 100%;
}

.card-1,
.card-2,
.card-3 {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transform: translateZ(-2px);
  margin: auto;
  box-shadow: 20px 20px 40px 1px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.card-1 {
  position: relative;
  transform-style: preserve-3d;
}
.card-2 {
  bottom: -30px;
  width: 60%;
}
.card-3 {
  bottom: -15px;
  width: 80%;
}
