<div class="advantages">
  <h2 class="advantages__title">Advantages</h2>

  <div class="container">
    <!-- left -->
    <div class="advantages__card">
      <div class="card">
        <img src="../../../assets/images/card_images/office.png" alt="office" />
        <h4>Free Wi-Fi</h4>
        <p>
          Distant orb has power to raise and purify our thoughts like a strain
          of sacred music, or a noble picture, or a passage.
        </p>
        <img
          src="../../../assets/images/other_images/combined_shape.png"
          alt="shape"
          class="shape"
        />
      </div>
    </div>

    <!-- right -->
    <div class="advantages__cards">
      <div class="events">
        <img
          src="../../../assets/images/other_images/surprise.png"
          alt="surprise"
        />
        <div class="events__details">
          <h3>Special Events</h3>
          <p>
            Distant orb has power to raise and purify our thoughts like a strain
            of sacred music, or a noble picture, or a passage from the grander
            poets.
          </p>
        </div>
      </div>

      <div class="two-cards">
        <div class="price">
          <img
            src="../../../assets/images/other_images/notes.png"
            alt="notes"
          />
          <h3>Best Price</h3>
          <p>Power to raise and purify our thoughts like a strain.</p>
        </div>
        <div class="cancellation">
          <img
            src="../../../assets/images/other_images/calendar.png"
            alt="calendar"
          />
          <h3>Free Cancellation</h3>
          <p>Like a strain of sacred music, or a noble picture.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="test">
  <div class="jedan">1</div>
  <div class="dva">2</div>
</div>
