.advantages {
  width: 1440px;
  height: 879px;
  margin: 0 auto;
}

.advantages__title {
  text-align: center;
  font-size: 56px;
  font-weight: 100;
  margin: 88px 0 65px 0;
}

.container {
  display: flex;
  justify-content: center;
}

.advantages__card,
.advantages__cards {
  padding: 20px;
}

.card {
  height: 544px;
  border-radius: 30px;
  box-shadow: 20px 20px 40px 1px rgba(0, 0, 0, 0.1);
  padding: 0 20px 0 20px;
  width: 570px;
}

h4 {
  font-size: 40px;
  margin: 50px 0 16px 0;
  font-weight: 100;
}

.shape {
  position: relative;
  left: -45px;
  bottom: 400px;
  z-index: -1;
}

.events {
  box-shadow: 20px 20px 40px 1px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 30px;
  height: 224px;
  width: 570px;
  margin: 20px;
}

.events img {
  width: 50px;
  height: 60px;
}

.two-cards {
  display: flex;
}

.price,
.cancellation {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 20px 20px 40px 1px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width: 270px;
  height: 288px;
}

.price img,
.cancellation img {
  width: 50px;
  height: 60px;
}

.price img,
.cancellation img {
  width: 60px;
  margin-bottom: 30px;
}

.price {
  background-color: #edf1f5;
  margin-right: 50px;
}
