.circles img {
  width: 100%;
  height: auto;
}

.mobile_mode {
  display: none;
}

@media (max-width: 670px) {
  .mobile_mode {
    display: block;
  }
  .desktop_mode {
    display: none !important;
  }
}
