.advantages {
  padding: 100px 135px;
}

.advantages h2 {
  text-align: center;
  font-size: 56px;
  font-weight: 100;
  margin-bottom: 50px;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  justify-content: center;
}

.one {
  position: relative;
  max-width: 700px;
}

.one .office {
  width: 100%;
  height: auto;
}

.two {
  display: grid;
  grid-gap: 30px;
  max-width: 700px;
  grid-template-areas:
    "thr thr"
    "for fiv";
  position: relative;
}

.thr {
  grid-area: thr;
}

.for {
  grid-area: for;
  background-color: #edf1f5;
}

.fiv {
  grid-area: fiv;
}

.one,
.thr,
.for,
.fiv {
  box-shadow: 20px 20px 40px 1px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 30px;
  height: 100%;
}

.one,
.fiv {
  background-color: #fff;
}

.fiv {
  position: relative;
}

.shape {
  position: absolute;
  z-index: -1;
  bottom: 50%;
  left: -45px;
}

.shape2 {
  position: absolute;
  z-index: -1;
  bottom: 15%;
  right: -45px;
}

.thr {
  display: flex;
}

.thr img {
  margin-right: 23px;
}

.thr img,
.fiv img {
  width: 110px;
  height: 100px;
}

.fir img {
  width: 90px;
  height: 85px;
}

h3 {
  font-size: 40px;
  margin: 35px 0 15px 0;
  font-weight: 100;
}

h4 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 18px;
  margin-top: 18px;
}

p {
  color: #909294;
  font-size: 18px;
  line-height: 32px;
}

@media (max-width: 1000px) {
  .advantages {
    padding: 80px 30px;
  }
}

@media (max-width: 700px) {
  .advantages h2 {
    font-size: 40px;
  }
  .advantages {
    margin: 0;
    padding: 80px 14px;
  }
  .two {
    grid-template-areas: "thr" "for" "fiv";
  }
  .thr {
    display: unset;
  }
  .shape2 {
    bottom: -4%;
    right: 8%;
  }
  .shape {
    left: 7%;
    top: -7%;
  }
}
