<div class="advantages">
  <h2>Advantages</h2>

  <div class="container">
    <!-- one -->
    <div class="one">
      <div class="advantages__card">
        <div class="card">
          <img
            src="../../../assets/images/card_images/office.png"
            alt="office"
          />
          <h3>Free Wi-Fi</h3>
          <p>
            Distant orb has power to raise and purify our thoughts like a strain
            of sacred music, or a noble picture, or a passage.
          </p>
        </div>
        <img
          src="../../../assets/images/other_images/combined_shape.png"
          alt="shape"
          class="shape"
        />
      </div>
    </div>

    <!-- two -->
    <div class="two">
      <div class="events">
        <img
          src="../../../assets/images/other_images/party.png"
          alt="surprise"
        />
        <div class="events__details">
          <h4>Special Events</h4>
          <p>
            Distant orb has power to raise and purify our thoughts like a strain
            of sacred music, or a noble picture, or a passage from the grander
            poets.
          </p>
        </div>
      </div>
    </div>

    <!-- three -->
    <div class="thr">
      <div class="price">
        <img src="../../../assets/images/other_images/notes.png" alt="notes" />
        <h4>Best Price</h4>
        <p>Power to raise and purify our thoughts like a strain.</p>
      </div>
    </div>

    <!-- four -->
    <div class="for">
      <div class="cancellation">
        <img
          src="../../../assets/images/other_images/calendar.png"
          alt="calendar"
        />
        <h4>Free Cancellation</h4>
        <p>Like a strain of sacred music, or a noble picture.</p>
      </div>
      <img
        src="../../../assets/images/other_images/combined_shape.png"
        alt="shape"
        class="shape2"
      />
    </div>
  </div>
</div>
