.restaurant {
  margin: 0 auto;
  width: 1440px;
  height: 880px;
  background: rgba(236.62, 240.69, 245.38, 1);
  display: flex;
  padding: 0 135px;
  align-items: center;
  justify-content: space-between;
}

.restaurant__data {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

.restaurant__data .data-icon {
  margin-bottom: 55px;
  width: 122px;
  height: 122px;
  border-radius: 15px;
  border: 1px solid #d8d8d8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurant__data h2 {
  font-size: 56px;
  line-height: 64px;
  color: #333333;
  font-weight: 100;
  margin-bottom: 50px;
}

.restaurant__data p {
  color: #909294;
  margin-bottom: 45px;
  font-size: 18px;
}

.restaurant__data button {
  width: 172px;
  height: 50px;
  border-radius: 24px;
  border: 1px solid #909294;
  background: transparent;
}

.restaurant__image {
  flex-grow: 0;
}

.card {
  width: 570px;
  height: 560px;
  position: relative;
  z-index: 1;
  box-shadow: 20px 20px 40px 1px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.map {
  position: absolute;
  bottom: 0px;
  right: -100px;
  filter: drop-shadow(20px 20px 40px 1px rgba(0, 0, 0, 0.1));
}

.shape {
  position: absolute;
  bottom: 220px;
  left: -45px;
  z-index: -1;
}

.card-1,
.card-2,
.card-3 {
  position: absolute;
  height: 100px;
  box-shadow: 20px 20px 40px 1px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: #fff;
}

.card-1 {
  width: 100%;
  height: 100%;
  z-index: 5;
}

.card-1__img {
  background-image: url("../../../assets/images/card_images/bitmap_ek7.png");
  height: 70%;
}

.play {
  display: flex;
  flex-direction: row;
  padding: 45px;
}

.play__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.play__data .data-fun {
  font-size: 24px;
}
.play__data .data-time {
  font-size: 18px;
  color: #909294;
}

.card-2 {
  width: 90%;
  bottom: -16px;
  z-index: -3;
}

.card-3 {
  width: 80%;
  bottom: -32px;
  z-index: -4;
}
