<div class="restaurant">
  <!-- one -->
  <div class="restaurant__data">
    <div class="data-icon">
      <img src="../../../assets/images/icons/coffee.png" alt="coffee" />
    </div>
    <h2>
      Restaurants <br />
      & Bars
    </h2>
    <p>
      Distant orb has power to raise and purify our thoughts like <br />
      a strain of sacred music.
    </p>
    <button>RESERVE A TABLE</button>
  </div>
  <!-- two -->
  <div class="restaurant__image">
    <div class="card">
      <div class="card-1">
        <div class="card-1__img"></div>
        <div class="play">
          <img
            src="../../../assets/images/other_images/hamburger.png"
            alt="hamburger"
          />
          <div class="play__data">
            <span class="data-fun">+$20</span>
            <span class="data-time">Lunch Price</span>
          </div>
        </div>
        <img
          src="../../../assets/images/other_images/map.png"
          alt="map"
          class="map"
        />
        <img
          src="../../../assets/images/other_images/combined_shape.png"
          alt="shape"
          class="shape"
        />
      </div>
      <div class="card-2"></div>
      <div class="card-3"></div>
    </div>
  </div>
</div>
