<div class="testimonials">
  <h2>Testimonials</h2>

  <!-- DESKTOP MODE -->
  <div class="container desktop_mode">
    <!-- one -->
    <div class="one">
      <img src="../../../assets/images/card-7.png" alt="card" />
    </div>

    <!-- two -->
    <div class="two">
      <img src="../../../assets/images/card-8.png" alt="card" />
    </div>
  </div>

  <!-- MOBILE MODE -->
  <div class="container mobile_mode">
    <div class="two">
      <img
        src="../../../assets/images/mobil_mode_images/card-2.png"
        alt="card"
      />
    </div>
  </div>
</div>
