<div class="testimonials">
  <h2>Testimonials</h2>

  <div class="container">
    <!-- one -->
    <div class="one">
      <div class="card">
        <div class="card-1">
          <div class="description">
            <h4>
              My Best <br />
              Vacation
            </h4>
            <p>
              "Distant orb has power to raise and purify our thoughts like a
              strain of sacred music, or a noble picture, or a passage from the
              grander poets. By the same illusion which lifts the horizon of the
              sea to the level of the spectator on, the sable cloud beneath was
              dished out, and the car seemed."
            </p>
            <div class="guest">
              <img
                src="../../../assets/images/other_images/user-1.png"
                alt="guest"
              />
              <div class="guest-rew">
                <span>Aasiya Jayavant</span>
                <img
                  src="../../../assets/images/other_images/stars.png"
                  alt="stars"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card-2"></div>
        <div class="card-3"></div>
        <img
          src="../../../assets/images/other_images/combined_shape.png"
          alt="shape"
          class="shape-1"
        />
        <img
          src="../../../assets/images/icons/arrow_left.png"
          alt="arrow_left"
          class="arrow-left"
        />
        <img
          src="../../../assets/images/other_images/quotation_marks.png"
          alt="arrow_left"
          class="quotation_marks"
        />
      </div>
    </div>
    <!-- two -->
    <div class="two">
      <div class="card">
        <div class="card-1">
          <div class="description">
            <h4>
              Very Good <br />
              Hotel
            </h4>
            <p>
              "Peep at some distant orb has power to raise and purify our
              thoughts like a strain of sacred music, or a noble picture, or a
              passage from the grander poets. It always does one good.Apparently
              we had reached a great height in the atmosphere, for the sky was a
              dead black."
            </p>
            <div class="guest">
              <img
                src="../../../assets/images/other_images/user-2.png"
                alt="guest"
              />
              <div class="guest-rew">
                <span>Cameron Rogers</span>
                <img
                  src="../../../assets/images/other_images/stars.png"
                  alt="stars"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card-2"></div>
        <div class="card-3"></div>
        <img
          src="../../../assets/images/other_images/combined_shape.png"
          alt="shape"
          class="shape-3"
        />
        <img
          src="../../../assets/images/icons/arrow_right.png"
          alt="arrow_right"
          class="arrow-right"
        />
        <img
          src="../../../assets/images/other_images/quotation_marks.png"
          alt="arrow_left"
          class="quotation_marks"
        />
      </div>
    </div>
  </div>
</div>
