<div class="rooms">
  <div class="rooms__title">
    <h2>Rooms</h2>
    <p>
      Distant orb has power to raise and purify our <br />
      thoughts like a strain of sacred music.
    </p>
  </div>

  <div class="container">
    <!-- one -->
    <div class="one">
      <div class="card">
        <div class="card-1">
          <div class="card-1__img">
            <img
              src="../../../assets/images/card_images/card-1.png"
              alt="room"
            />
          </div>
          <div class="description">
            <h4>Classic Room</h4>
            <p>
              Distant orb has power to raise and <br />
              purify our thoughts like a strain.
            </p>
            <button>BOOK NOW</button>
          </div>
        </div>
        <div class="card-2"></div>
        <div class="card-3"></div>
        <img
          src="../../../assets/images/other_images/combined_shape.png"
          alt="shape"
          class="shape-1"
        />
        <img
          src="../../../assets/images/icons/arrow_left.png"
          alt="arrow_left"
          class="arrow-left"
        />
      </div>
    </div>
    <!-- two -->
    <div class="two">
      <div class="card">
        <div class="card-1">
          <div class="card-1__img">
            <img
              src="../../../assets/images/card_images/card-2.png"
              alt="room"
            />
          </div>
          <div class="description">
            <h4>Double Room</h4>
            <p>
              Power to raise and purify our thoughts <br />
              like a strain of sacred music.
            </p>
            <button class="btn-green">BOOK NOW</button>
          </div>
        </div>
        <div class="card-2"></div>
        <div class="card-3"></div>
      </div>
    </div>
    <!-- three -->
    <div class="three">
      <div class="card">
        <div class="card-1">
          <div class="card-1__img">
            <img
              src="../../../assets/images/card_images/card-3.png"
              alt="room"
            />
          </div>
          <div class="description">
            <h4>Super Room</h4>
            <p>
              Raise and purify our thoughts like a <br />
              strain of sacred music, or a noble.
            </p>
            <button>BOOK NOW</button>
          </div>
        </div>
        <div class="card-2"></div>
        <div class="card-3"></div>
        <img
          src="../../../assets/images/other_images/combined_shape.png"
          alt="shape"
          class="shape-3"
        />
        <img
          src="../../../assets/images/icons/arrow_right.png"
          alt="arrow_right"
          class="arrow-right"
        />
      </div>
    </div>
  </div>
</div>
