<div class="rooms">
  <!-- title -->
  <div class="rooms__title">
    <h2>Rooms</h2>
    <p>
      Distant orb has power to raise and purify our <br />
      thoughts like a strain of sacred music.
    </p>
  </div>

  <!-- DESKTOP MODE -->
  <div class="container desktop_mode">
    <!-- one -->
    <div class="one">
      <div class="card">
        <div class="card-1">
          <img src="../../../assets/images/card_images/card-1.png" alt="" />
          <h3>Classic Room</h3>
          <p>
            Distant orb has power to raise and purify our thoughts like a
            strain.
          </p>
          <button>BOOK NOW</button>
          <div class="card-2"></div>
          <div class="card-3"></div>
        </div>
      </div>
      <img
        src="../../../assets/images/other_images/combined_shape.png"
        alt="shape"
        class="shape"
      />
      <img
        src="../../../assets/images/icons/arrow_left.png"
        alt="arrow"
        class="arrow"
      />
    </div>

    <!-- two -->
    <div class="two">
      <div class="card">
        <div class="card-1">
          <img src="../../../assets/images/card_images/card-2.png" alt="" />
          <h3>Double Room</h3>
          <p>
            Power to raise and purify our thoughts like a strain of sacred
            music.
          </p>
          <button>BOOK NOW</button>
          <div class="card-2"></div>
          <div class="card-3"></div>
        </div>
      </div>
    </div>

    <!-- three -->
    <div class="three">
      <div class="card">
        <div class="card-1">
          <img src="../../../assets/images/card_images/card-3.png" alt="" />
          <h3>Super Room</h3>
          <p>
            Raise and purify our thoughts like a strain of sacred music, or a
            noble.
          </p>
          <button>BOOK NOW</button>
          <div class="card-2"></div>
          <div class="card-3"></div>
        </div>
      </div>
      <img
        src="../../../assets/images/other_images/combined_shape.png"
        alt="shape"
        class="shape2"
      />
      <img
        src="../../../assets/images/icons/arrow_right.png"
        alt="arrow"
        class="arrow2"
      />
    </div>
  </div>

  <!-- MOBILE MODE -->
  <div class="container mobile_mode">
    <img src="../../../assets/images/mobil_mode_images/card-1.png" alt="card" />
  </div>
</div>
