<div class="container">
  <!-- one -->
  <div class="one">
    <h3>HOTEL</h3>
    <span>
      <img src="../../../assets/images/icons/phone.png" alt="phone" />
      <span>(4321) 0987-654-320</span>
    </span>
    <span>
      <img src="../../../assets/images/icons/msg.png" alt="msg" />
      <span>support@hotel.com</span>
    </span>
    <span>
      <img src="../../../assets/images/icons/pin.png" alt="pin" />
      <span>33 Jaja Park Rd, Yellow, USA</span>
    </span>
  </div>

  <!-- two -->
  <div class="two">
    <h4>Menu</h4>
    <div class="menu">
      <div class="menu-left">
        <a href="#">About</a>
        <a href="#">Service</a>
        <a href="#">Rooms</a>
      </div>
      <div class="menu-right">
        <a href="#">Testimonials</a>
        <a href="#">Blog</a>
        <a href="#">Contact</a>
      </div>
    </div>
  </div>

  <!-- three -->
  <div class="three">
    <h4>Subscribe</h4>
    <div class="input-container">
      <input class="input-field" placeholder="Email" />
      <img
        src="../../../assets/images/icons/send.png"
        alt="send-icon"
        class="icon"
      />
    </div>
    <p>No spam. Only profit.</p>
  </div>
</div>
