.blog {
  padding: 80px 135px;
}

h2 {
  font-size: 56px;
  line-height: 64px;
  color: #333333;
  font-weight: 100;
  margin-bottom: 28px;
  text-align: center;
}

p {
  color: #909294;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-gap: 30px;
}

.container img {
  width: 100%;
  height: auto;
}

.mobile_mode {
  display: none;
}

@media (max-width: 1000px) {
  .blog {
    padding: 80px 30px;
  }
}

@media (max-width: 700px) {
  h2 {
    font-size: 40px !important;
  }
  .blog {
    padding: 80px 14px;
  }
  .mobile_mode {
    display: block;
  }
  .desktop_mode {
    display: none !important;
  }
}
