<div class="blog">
  <div class="blog__title">
    <h2>From Blog</h2>
  </div>

  <div class="container">
    <!-- one -->
    <div class="one">
      <div class="card">
        <div class="card-1">
          <div class="card-1__img">
            <img
              src="../../../assets/images/card_images/card-4.png"
              alt="room"
            />
          </div>
          <div class="description">
            <h4>
              Where Travel <br />
              this Summer
            </h4>
            <p>
              Distant orb has power to raise and <br />
              purify our thoughts like a strain.
            </p>
            <div class="card-bottom">
              <span>Pedro Amorim</span>
              <span
                ><img
                  src="../../../assets/images/icons/cloud.png"
                  alt="cloud"
                  class="cloud"
                />3</span
              >
            </div>
          </div>
        </div>
        <div class="card-2"></div>
        <div class="card-3"></div>
        <img
          src="../../../assets/images/other_images/combined_shape.png"
          alt="shape"
          class="shape-1"
        />
        <img
          src="../../../assets/images/icons/arrow_left.png"
          alt="arrow_left"
          class="arrow-left"
        />
      </div>
    </div>

    <!-- two -->
    <div class="two">
      <div class="card">
        <div class="card-1">
          <div class="card-1__img">
            <img
              src="../../../assets/images/card_images/card-5.png"
              alt="room"
            />
          </div>
          <div class="description">
            <h4>
              Better Places <br />
              for Traveling
            </h4>
            <p>
              Power to raise and purify our thoughts <br />
              like a strain of sacred music.
            </p>
            <div class="card-bottom">
              <span>Juan Jose Esteve</span>
              <span
                ><img
                  src="../../../assets/images/icons/cloud.png"
                  alt="cloud"
                  class="cloud"
                />
                9</span
              >
            </div>
          </div>
        </div>
        <div class="card-2"></div>
        <div class="card-3"></div>
      </div>
    </div>

    <!-- three -->
    <div class="three">
      <div class="card">
        <div class="card-1">
          <div class="card-1__img">
            <img
              src="../../../assets/images/card_images/card-6.png"
              alt="room"
            />
          </div>
          <div class="description">
            <h4>
              Why Our Hotel <br />
              is the Best Place
            </h4>
            <p>
              Raise and purify our thoughts like a <br />
              strain of sacred music, or a noble.
            </p>
            <div class="card-bottom">
              <span>Shaamikh Al Hakim</span>
              <span
                ><img
                  src="../../../assets/images/icons/cloud.png"
                  alt="cloud"
                  class="cloud"
                />15</span
              >
            </div>
          </div>
        </div>
        <div class="card-2"></div>
        <div class="card-3"></div>
        <img
          src="../../../assets/images/other_images/combined_shape.png"
          alt="shape"
          class="shape-3"
        />
        <img
          src="../../../assets/images/icons/arrow_right.png"
          alt="arrow_right"
          class="arrow-right"
        />
      </div>
    </div>
  </div>
</div>
