<div class="blog">
  <h2>From Blog</h2>

  <!-- DESKTOP MODE -->
  <div class="container desktop_mode">
    <!-- one -->
    <div class="one">
      <img src="../../../assets/images/caed-9.png" alt="card" />
    </div>

    <!-- two -->
    <div class="two">
      <img src="../../../assets/images/caed-10.png" alt="card" />
    </div>

    <!-- three -->
    <div class="three">
      <img src="../../../assets/images/caed-11.png" alt="card" />
    </div>
  </div>

  <!-- MOBILE MODE -->
  <div class="container mobile_mode">
    <div class="one">
      <img
        src="../../../assets/images/mobil_mode_images/card-3.png"
        alt="card"
      />
    </div>
  </div>
</div>
